.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.left-side {
  width: 10%;
  height: 90%;
  background-color: #f1f1f1;
  margin-right: 10px;
  margin-bottom: 2%;
}

.main-content {
  margin-top: 2%;
  height: 100%;
  width: 60%;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.controls {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: #6200ea;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #3700b3;
}

.input-field {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
}

.grid {
  padding: 10px;
  text-align: center;
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Floor Layout */
.floor-container {
  margin-bottom: 20px;
}

.floor-layout {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.room-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.room-box {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: white;
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
  font-weight: 900;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.heart {
  color: rgb(122, 92, 244);
}

/* GitHub Button */
.github-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.github-button a {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: #000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}